<div class="control-group">
	<label for="title"  class="control-label">
		<f:translate key="tx_nxshowroom_domain_model_type.title" /> *
	</label>
	<div class="controls">
		<f:form.textfield property="title"  class="input-xlarge" placeholder="Title of the resource" />
		<p class="help-inline">(required)</p>
	</div>
</div>
<div class="control-group">
	<label for="description"  class="control-label">
		<f:translate key="tx_nxshowroom_domain_model_type.description" /> *
	</label>
	<div class="controls">
		<f:form.textarea property="description" cols="150" rows="15" class="richtext"/>
		<p class="help-inline">(required)</p>
	</div>
</div>