<div class="control-group">
	<label for="title"  class="control-label">
		<f:translate key="tx_nxshowroom_domain_model_attachment.title" /> *
	</label>
	<div class="controls">
		<f:form.textfield property="title"  class="input-xlarge" placeholder="Title" />
		<p class="help-inline">(required)</p>
	</div>
</div>

<div class="control-group">
	<label for="description"  class="control-label">
		<f:translate key="tx_nxshowroom_domain_model_attachment.description" /> *
	</label>
	<div class="controls">
		<f:form.textarea property="description" class="richtext" cols="150" rows="5" />
	</div>
</div>

<div class="control-group">
	<label for="code"  class="control-label">
		<f:translate key="tx_nxshowroom_domain_model_attachment.code" /> *
	</label>
	<div class="controls">
		<f:form.textarea property="code"  class="wide" cols="150" rows="15"  />
		<p class="help-inline">(required)</p>
	</div>
</div>