<label for="title">
	<f:translate key="tx_nxshowroom_domain_model_resource.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_nxshowroom_domain_model_resource.description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="images">
	<f:translate key="tx_nxshowroom_domain_model_resource.images" />
</label><br />
	<f:form.upload property="images" /><br />