{namespace fed=Tx_Fed_ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

<f:section name="main">
	<f:flashMessages renderMode="div" class="alert alert-success"/>

	<f:if condition="{tag}">
		<div class="alert alert-info">
			<f:link.action action="list" class="close">
				x
			</f:link.action>
			Fiktered by Tag: <strong>{tag.title}</strong>
		</div>
	</f:if>

	<div class="tabbable">
				<f:link.action action="new" controller="Type"  class="btn btn-mini pull-right">
					<i class="icon-plus"></i>
					Type
				</f:link.action>
		<ul class="nav nav-tabs">
			<f:for each="{types}" as="type" iteration="tabNav">
				<li class="<f:if condition="{tabNav.isFirst}">active</f:if>"><a href="#{type.uid}" data-toggle="tab">{type.title}s</a></li>
			</f:for>
		</ul>

	</div>
	  <div class="tab-content">
			<f:for each="{types}" as="type"  iteration="tabContent">
				<div id="{type.uid}" class="tab-pane <f:if condition="{tabContent.isFirst}">active</f:if>">
					<div class="well tab-well">
						<f:render partial="Resource/ListItems" arguments="{type: type, UPLOAD_FOLDER:UPLOAD_FOLDER}" />
					</div>
					<div class="row">
						<div class="span10">
							<p>{type.description}</p>
						</div>
						<div class="span2">
							<p>
								<f:link.action action="new" arguments="{type: type}" class="btn btn-primary btn-mini pull-right">
									<i class="icon-plus icon-white"></i> add {type.title}
								</f:link.action>
							</p>
						</div>
					</div>
				</div>
			</f:for>
	</div>
</f:section>