<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<f:flashMessages />

	<f:render partial="FormErrors" />

	<f:form method="post" action="update" name="attachment" object="{attachment}" arguments="{resource:resource}">
		<fieldset>
			<legend>Edit {attachment.title}</legend>
			<f:render partial="Attachment/FormFields" arguments="{resource:resource}" />
		</fieldset>

		<div class="btn-group">
			<f:link.action action="show" controller="Resource" arguments="{resource:resource}" class="btn  btn-large">
				<i class="icon-arrow-left"></i> Cancel
			</f:link.action>
			<button class="btn btn-success btn-large" type="submit">
				<i class="icon-ok-circle icon-white"></i> Save Attachment
			</button>
		</div>
	</f:form>
</f:section>