<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<f:flashMessages />
	<f:render partial="Attachment/Properties" arguments="{attachment: attachment}" />

	<div class="btn-group form-actions">
		<f:link.action action="list" controller="Resource" class="btn">
			<i class="icon-arrow-left"></i> Back
		</f:link.action>
		<f:link.action action="edit" arguments="{attachment:attachment, resource:resource}"  class="btn pull-right">
			<i class="icon-pencil"></i> Edit</f:link.action>
	</div>
</f:section>